.card-container {
    margin: 15% 5%;
    animation: cardAnim 4s alternate;

    @keyframes cardAnim {
            from {
              margin-left: 100%;
              width: 200%;
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
          }
}
.card-main {
    width: 100%;
    display: grid;
    flex-direction: row;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    margin: 3% 5%;
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 3rem 0;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        background-color: #FFF;
    }    
}
article{
    width: 40vw;
    height: 30vw;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: $color-3;
    animation: fadeUp 2s;
    transition: transform .1s;
    &:hover{
        transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        }
    
    @media (max-width: 768px) {
        width: 100%;
        height: 100%;
    } 
    .card-content{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 40vw;
        height: 30vw;
        z-index: 1;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%); 
                        
        @media screen and (max-width: 540px) {
            width: 100%;
            height: 255px;     
        }
        &:hover span,
        span:hover {
            visibility: visible;
            transform: translateY(0);
        }       
        .card-img{
            overflow: hidden;
            align-self: center;
            object-fit: cover;
            min-width: 25vw;
            
            @media (max-width: 768px) {
                width: 100%;
                height: 255px;
            }
        }
        span {
          position: relative;
          margin: auto;
          visibility: hidden; 
          width: 100%;
          padding: 1.5rem;
          line-height: 34px;
          font-size: 1.5rem;          
          transition: 0.5s ease;
          transform: translateY(200px);

          @media screen and (max-width: 540px) {
            visibility: visible; 
            transform: translateY(0);           
          }

          .card-title{
            position: absolute;
            color: white;            
            flex-direction: column;
            justify-content: center;            
            padding: 0 5% 0 4%;
            font-size: 22px;
            font-weight: 500;
            bottom: 3%;
                        

            @media (max-width: 768px) {
                height: 25%;
                font-size: 16px;
                
            }
            }
        }
        
    }
}
