.credits {
  width: 100%;
  text-align: center;

    @media screen and (max-width: 740px) {
      transform: translateY(20px);
      font-size: 0.7rem;
      margin-right: 1rem;
      margin-bottom: 0;
    }
    p {
      width: 100%;
      font-size: 0.9rem;
    }
  }