.about-main {  
  
    margin: 20% 5%;
}
.about-main-title {
    color: $color-3;
    font-size: 50px;
    font-weight: 700;
    z-index: 1;
    margin-left: 8%;
}
.about-description {
  display: grid;
  flex-direction: row;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 5% 5%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.about-text {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5% auto;
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 110%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.about-card {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-items: center;  
  margin: 5% auto;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.card-size {
  display: flex;
  row-gap: 5px;
}

